:root {
  --success-color: #2ecc71;
  --error-color: #e74c3c;
}

body {
  font-family: monospace;
  margin: 0;
  padding: 0;
  background-color: white;
  color: white;
}

* {
  box-sizing: border-box;
}

/* Jumbotron styling start */
/* This picture was taken by me while I was travelling through death valley. 
You need to give a credit if you want to use this picture. */
.jumbotron {
  background: url(images/death_valley.JPG);
  background-size: 100% 100%;
  height: 600px;
  border-radius: 0;
  margin: 0;
}

.featured {
  color: #fff;
}

.featured h1 {
  padding-top: 100px;
}

@media (min-width: 480px) and (max-width: 768px) {
  .jumbotron {
    height: 410px;
    margin: 0;
  }

  .featured h1 {
    padding-top: 80px;
  }

  .featured p {
    font-size: 25px;
  }

  .featured {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .jumbotron {
    height: 410px;
    margin: 0;
  }

  .featured h1 {
    padding-top: 80px;
  }

  .featured p {
    font-size: 25px;
  }

  .featured {
    text-align: center;
  }
}

.container-fluid > p {
  color: skyblue;
  text-align: center;
  font-size: 1.3rem;
}

/*styling of skills start here*/

/*styling of skills start here*/
.skills {
  margin: 0px;
}

.skills > h2:first-of-type,
.projects > h2:first-of-type {
  background-color: rgb(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  font-weight: normal;
  font-family: monospace;
  margin-bottom: 0;
  color: white;
  text-transform: uppercase;
  transition: font-size 0.3s ease-in;
  -webkit-transition: font-size 0.3s ease-in;
  -moz-transition: font-size 0.3s ease-in;
  -o-transition: font-size 0.3s ease-in;
}

.skills > h2:first-of-type:hover,
.projects > h2:first-of-type:hover {
  font-size: 35px;
}

.sections h2 {
  margin-left: 10px;
  text-transform: capitalize;
  /* width: 200px; */
  font-size: 1.5rem;
  font-family: monospace;
}

.skillslist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.skills ul {
  margin: 10px;
  padding: 0;
  list-style: none;
  color: skyblue;
  font-size: 1rem;
  font-weight: lighter;
}

@media screen and (max-width: 630px) {
  .skillslist {
    justify-content: space-between;
  }
}

/*styling of skills end here*/

/* styling of project section start here. */

.project_description > div {
  text-align: center;
  font-size: 1.5rem;
}

.project_description img {
  width: 80%;
}

.project_description p {
  font-size: 0.9rem;
  text-align: -webkit-auto;
  color: skyblue;
  padding: 5px;
}

.project_description {
  height: auto;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  grid-template-areas:
    'project1 project1 project2 project2'
    'project1 project1 project2 project2'
    'project3 project3 project4 project4'
    'project3 project3 project4 project4';
  padding: 7px;
}

#project1 {
  grid-area: project1;
}

#project2 img {
  height: 500px;
}

#project2 {
  grid-area: project2;
}

#project3 {
  grid-area: project3;
}

#project4 {
  grid-area: project4;
}

@media screen and (max-width: 880px) {
  .project_description img {
    width: 100%;
  }

  .project_description p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 630px) {
  .project_description > div {
    text-align: left;
  }

  .project_description {
    height: auto;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    grid-template-areas:
      'project1 project1 project1 project1'
      'project1 project1 project1 project1'
      'project2 project2 project2 project2'
      'project2 project2 project2 project2'
      'project3 project3 project3 project3'
      'project3 project3 project3 project3'
      'project4 project4 project4 project4'
      'project4 project4 project4 project4';
  }

  #project1 {
    grid-area: project1;
  }

  #project2 {
    grid-area: project2;
  }

  #project3 {
    grid-area: project3;
  }

  #project4 {
    grid-area: project4;
  }
}

.used_technologies {
  position: absolute;
  top: 50%;
  left: 40%;
  visibility: hidden;
}

.img-wrap:hover .used_technologies {
  visibility: visible;
}

#project4 .used_technologies {
  top: 50%;
  left: 25%;
}

.img-wrap #project_1 {
  opacity: 1;
  -webkit-transition: opacity 0.7s ease-in-out;
  -moz-transition: opacity 0.7s ease-in-out;
  -ms-transition: opacity 0.7s ease-in-out;
  -o-transition: opacity 0.7s ease-in-out;
  transition: opacity 0.3 ease-in-out;
}

.img-wrap #project_1.fade {
  opacity: 0.1;
}

/* styling of project section ends here. */

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

#container h2 {
  margin-top: 10px;
}

#skills h2 {
  margin-top: 10px;
}

.footer {
  height: 100px;
  background: linear-gradient(rgb(34, 34, 29), rgb(68, 68, 65));
  background: -webkit-linear-gradient(rgb(34, 34, 29), rgb(68, 68, 65));
  background: -o-linear-gradient(rgb(34, 34, 29), rgb(68, 68, 65));
  background: -moz-linear-gradient(rgb(34, 34, 29), rgb(68, 68, 65));
  padding: 5px 10px;
  text-align: center;
  margin-top: 15px;
}

.footer p {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  margin: auto;
}

.contacts {
  text-align: center;
}

/* styling of forms */

.container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 400px;
  margin-top: 30px;
}

.container .contact-form h2 {
  text-align: center;
  color: skyblue;
}

.form {
  padding: 20px 40px;
}

.form-control {
  background-color: black;
  margin-bottom: 50px;
  padding-bottom: 40px;
  position: relative;
}

.form-control label {
  color: skyblue;
  display: block;
  margin-bottom: 20px;
}

.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.form-control input:focus {
  outline: 0;
  border-color: #777;
}

.form-control.success input {
  border-color: var(--success-color);
}

.form-control.error input {
  border-color: var(--error-color);
}

.form-control small {
  color: red;
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}

.form button {
  cursor: pointer;
  background-color: #3498db;
  border: 2px solid #3498db;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
}

/* styling of form ends here */
